#!/bin/bash
#SBATCH --job-name {{ project_name }}-infer
#SBATCH --output logs/out/%j.txt
#SBATCH --error logs/err/%j.txt
#SBATCH --mail-type ALL
#SBATCH --time 2-20:00:00
#SBATCH --ntasks-per-node 2
#SBATCH --partition allgroups
#SBATCH --mem 10G
#SBATCH --gres=gpu:rtx

source .env

srun --mail-user "$EMAIL" ~/.local/bin/uv run infer
